

{% load static %}

<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- icons -->
        <link href="{% static 'ttt/style.css'%}" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
	</head>
	<body style="background-color:#383838;">



    <title>TicTacToe</title>
    <center>
    
    
    <h1 id='winner' style="  
    color: #17a2b8;
    font-size: 75px;
    font-family: sans-serif;">TicTacToe!</h1>
    </center>
        <div class="board asdf" id="board">
            <div class="cell" id='box1' data-cell  onclick="box1()"></div>
            <div class="cell" id='box2' data-cell onclick="box2()"></div>
            <div class="cell" id='box3' data-cell onclick="box3()"></div>
            <div class="cell" id='box4' data-cell onclick="box4()"></div>
            <div class="cell" id='box5' data-cell onclick="box5()"></div>
            <div class="cell" id='box6' data-cell onclick="box6()"></div>
            <div class="cell" id='box7' data-cell onclick="box7()"></div>
            <div class="cell" id='box8' data-cell onclick="box8()"></div>
            <div class="cell" id='box9' data-cell onclick="box9()"></div>
        </div>


        <div class="bottom-left">
            <button id="print-btn" class="btn btn-outline-info" onclick="printBoard()">print</button>
            <button class="btn btn-outline-info " id="reset-btn" onclick="restart()">Restart</button>

        </div>


        <script  src="{% static 'ttt/tictactoe.js'%}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	</body>
</html> 
